Trunk/Tools/Generators/WBXWPCDataRequestGenerator/Service References/WPCFrameworkService/WPCFrameworkService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fetchPolicyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wpcUid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchPolicyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetchPolicyDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>